body{
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.avatar{
    width: 150px;
}

.card{
    background-color: #ddebf8;
    color: #2b2839;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 6px solid #d8cefe;
    line-height: 0px;  
}
.avatar{
    border-radius: 50%;
}
.info{
    margin-top: 30px;
}

.red-circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #f40909;
    margin: 40px auto;

}
/*.border-blue{
    border: 1px dashed blue;
}*/